header .avatar {
  height: fit-content;
  /* width: fit-content; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("/images/broken-noise.png"), #ffc368;
  z-index: 1;
}